
a{
    text-decoration: none;
    color: black;
}
.nav-link{
    color: black;
}
.bodyContainer{
    width: 90%; margin: auto;
    margin-top: 100px;
}
.infoContainer{
    margin-top: 150px;
}
.infoContainer h1{
    font-size: 3.7em;
    font-weight: 600;
    font-family: sans-serif;
}
.infoContainer p{
    font-size: 1.5em;
    font-family: serif;
}
.bodyContainer img{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border: 5px dotted red;
}
.aboutContainer{
    margin: auto;
    width: 90%;
    display: flex;
    margin-top: 100px;
}
.aboutContainer img {
    height: 550px;
    width: 450px;
}
.aboutContainer div{
    margin-top: 100px;
}
.aboutContainer p{
    font-size: 1.3em;
}
.portfolioContainer{
    margin: auto;
    width: 90%;
}
.card1container{
    display: flex;
}
.portfolioContainer img{
    height: 200px;
    width: 300px;
}
.overlay{
    color: white;
    position: absolute;
    margin-top: -200px;
    height: 200px;
    width: 300px;
    background-color: black;
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    display: block;
}

#firstImage:hover .overlay {
    background-color: rgba(13, 2, 2, 0.5);
    opacity: 5;
}
#secondImage:hover .overlay{
    background-color: rgba(13, 2, 2, 0.5);
    opacity: 5;
}
#thirdImage:hover .overlay {
    background-color: rgba(13, 2, 2, 0.5);
    opacity: 5;
}
#containers{
    width: 90%;
    margin: auto;
    padding-top: 70px;
}
.containers {
    border: 5px solid #808080;
    width: 100%;
    background-color: #ddd;
}
.skills p{
    font-size: 1.5em;
}
.html {width: 80%; border: 2px solid black;}
.CSS {width: 65%; border: 2px solid black;}
.Bootstrap {width: 60%; border: 2px solid black;}
.JavaScript {width: 50%; border: 2px solid black;}
.React {width: 5%; border: 2px solid black;}


.contactContainer{
    text-align: center;
    border: 1px red solid;
    height: 50vh;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding-top: 50px;
}
@media all and (max-width: 320px){
    .flex-grow-1{
        display: flex;
        align-items: center;
    }
    .bodyContainer{
        flex-direction: column-reverse;
        margin-top: 50px;
        gap: 50px;
        text-align: center;
    }
    .infoContainer{
        margin-top: 0px;
    }
    .infoContainer h1{
        font-size: 3.2em;
    }
    .svgs{
        justify-content: center;
    }
    .bodyContainer img{
        height: 250px;
        width: 250px;
    }
    .aboutContainer{
        /* margin: auto;
        width: 90%; */
        flex-direction: column;
        margin-top: 0px;
    }
    .aboutContainer img {
        height: 180px;
        width: 300px;
    }
    .aboutContainer div{
        margin-top: 10px;
    }
    .aboutContainer p{
        font-size: 1em;
    }
    .portfolioContainer{
        /* margin: auto; */
        width: 100%;
    }
    .card1container{
        flex-direction: column;
        /* gap: 20px !important; */
        align-items: center !important;
        /* justify-content: space-between !important; */
        gap: 50px;
    }
    .omo{
        display: flex;
        justify-content: space-around !important;
    }
    .contactContainer{
        width: 90%;
    }
}
@media all and (min-width: 321px) and (max-width: 425px){
    .flex-grow-1{
        display: flex;
        align-items: center;
    }
    .bodyContainer{
        flex-direction: column-reverse;
        margin-top: 50px;
        gap: 50px;
        text-align: center;
    }
    .infoContainer{
        margin-top: 0px;
    }
    .infoContainer h1{
        font-size: 3.2em;
    }
    .svgs{
        justify-content: center;
    }
    .bodyContainer img{
        height: 250px;
        width: 250px;
    }
    .aboutContainer{
        margin: auto;
        width: 90%;
        margin-top: 10px;
    }
    .aboutContainer p{
        font-size: 1.16em;
    }
    .portfolioContainer{
        margin: auto;
        width: 100%;
    }
    .card1container{
        flex-direction: column;
        align-items: center !important;
        gap: 50px !important;
    }
    .omo{
        display: flex;
        justify-content: space-around !important;
    }
    .contactContainer{
        width: 90%;
    }
}