
.portfolioContainer{
    margin: auto;
    width: 90%;
}
.card1container{
    display: flex;
}
.portfolioContainer img{
    height: 200px;
    width: 300px;
}

.overlay{
    color: white;
    position: absolute;
    margin-top: -200px;
    height: 200px;
    width: 300px;
    background-color: black;
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    display: block;
}

#firstImage:hover .overlay {
    background-color: rgba(13, 2, 2, 0.5);
    opacity: 5;
}
#secondImage:hover .overlay{
    background-color: rgba(13, 2, 2, 0.5);
    opacity: 5;
}
#thirdImage:hover .overlay {
    background-color: rgba(13, 2, 2, 0.5);
    opacity: 5;
}